body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
 .title{
text-align: center; 
font-family:Georgia, 'Times New Roman', Times, serif ;
}


.log-form {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.aa{
    padding-left: 20px;
}

.error-message {
    color: red;
    display: none;
    margin-top: 10px;
}